name: Release

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  upload-artifacts:
    runs-on: ubuntu-latest

    steps:
      - name: Set version
        id: version
        run: |
          VERSION=$(echo ${{ github.ref }} | sed -e "s#refs/tags/v##g")
          echo "version=${VERSION}" >> $GITHUB_OUTPUT

      - uses: actions/checkout@v6

      - name: Set up JDK 1.8
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '8'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Prepare artifacts in staging-deploy directories
        run: ./gradlew publish

      - name: Upload scalardl-ledger, scalardl-java-client-sdk, scalardl-common, and scalardl-rpc to Maven Central Repository
        env:
          JRELEASER_MAVENCENTRAL_USERNAME: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          JRELEASER_MAVENCENTRAL_PASSWORD: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
          JRELEASER_GPG_PASSPHRASE: ${{ secrets.MAVEN_CENTRAL_GPG_PASSPHRASE }}
          JRELEASER_GPG_PUBLIC_KEY: ${{ secrets.MAVEN_CENTRAL_GPG_PUBLIC_KEY }}
          JRELEASER_GPG_SECRET_KEY: ${{ secrets.MAVEN_CENTRAL_GPG_SECRET_KEY }}
        run: ./gradlew jreleaserDeploy -Dorg.gradle.jvmargs="-Xmx4g"

      - name: Upload JReleaser outputs
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: jreleaser-release
          path: |
            build/jreleaser/trace.log
            build/jreleaser/output.properties

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}

      - name: Create containers
        run: ./gradlew docker

      - name: Push containers to private GitHub Packages
        run: |
          docker push ghcr.io/scalar-labs/scalardl-ledger:${{ steps.version.outputs.version }}
          docker push ghcr.io/scalar-labs/scalardl-client:${{ steps.version.outputs.version }}
          docker push ghcr.io/scalar-labs/scalardl-schema-loader:${{ steps.version.outputs.version }}

  create-release-notes:
    needs: upload-artifacts
    if: ${{ success() }}
    uses: ./.github/workflows/create-release-notes.yaml
    secrets:
      GH_PROJECT_ACCESS_TOKEN: ${{ secrets.GH_PROJECT_ACCESS_TOKEN }}
