name: CI

on: 
  push:
    branches:
      - master
      - "[0-9]+"
      - "[0-9]+.[0-9]+"
  workflow_dispatch:
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Set up JDK 1.8
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '8'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5

    - name: Prepare
      run: sudo mkdir -m 777 /var/log/scalar

    - name: Lint Dockerfile
      run: |
        ./gradlew \
          client:dockerfileLint \
          ledger:dockerfileLint \

    - name: Run unit tests
      run: ./gradlew check

    - name: Package artifacts
      if: always()
      run: |
        rm -rf artifacts
        mkdir artifacts
        for x in ./*/build/reports/tests; do cp -a --parents $x ./artifacts/${x%%/*}; done
        zip -r artifacts.zip artifacts

    - uses: actions/upload-artifact@v6
      if: always()
      with:
        name: artifacts
        path: artifacts.zip

  integration-test-with-mysql:
    name: Integration test with Consensus Commit transaction manager on MySQL
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.1
        env:
          MYSQL_ROOT_PASSWORD: mysql
        ports:
          - 3306:3306

    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK 1.8
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '8'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build
        run: |
          ./gradlew assemble
          ./gradlew testJar

      # due to a gradle bug we must run the integration test separately
      - name: Run integration tests
        run: |
          cd ledger
          java -cp "build/test-libs/*:build/libs/*:build/classes/java/integrationTest" org.junit.platform.console.ConsoleLauncher execute -c=com.scalar.dl.ledger.service.LedgerServiceIntegrationTest
          java -cp "build/test-libs/*:build/libs/*:build/classes/java/integrationTest" -Dscalardb.storage=jdbc -Dscalardb.contact_points=jdbc:mysql://localhost/ -Dscalardb.username=root -Dscalardb.password=mysql org.junit.platform.console.ConsoleLauncher execute -c=com.scalar.dl.ledger.service.LedgerServiceEndToEndTest
          java -cp "build/test-libs/*:build/libs/*:build/classes/java/integrationTest" -Dscalardb.storage=jdbc -Dscalardb.contact_points=jdbc:mysql://localhost/ -Dscalardb.username=root -Dscalardb.password=mysql org.junit.platform.console.ConsoleLauncher execute -c=com.scalar.dl.ledger.service.LedgerServiceNamespaceEndToEndTest

  integration-test-with-mysql-jdbc-transaction:
    name: Integration test with JDBC transaction manager on MySQL
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.1
        env:
          MYSQL_ROOT_PASSWORD: mysql
        ports:
          - 3306:3306

    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK 1.8
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '8'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build
        run: |
          ./gradlew assemble
          ./gradlew testJar

      # due to a gradle bug we must run the integration test separately
      - name: Run integration tests
        run: |
          cd ledger
          java -cp "build/test-libs/*:build/libs/*:build/classes/java/integrationTest" -Dscalardb.storage=jdbc -Dscalardb.contact_points=jdbc:mysql://localhost/ -Dscalardb.username=root -Dscalardb.password=mysql -Dscalardb.transaction_manager=jdbc org.junit.platform.console.ConsoleLauncher execute -c=com.scalar.dl.ledger.service.LedgerServiceEndToEndTest
          java -cp "build/test-libs/*:build/libs/*:build/classes/java/integrationTest" -Dscalardb.storage=jdbc -Dscalardb.contact_points=jdbc:mysql://localhost/ -Dscalardb.username=root -Dscalardb.password=mysql -Dscalardb.transaction_manager=jdbc org.junit.platform.console.ConsoleLauncher execute -c=com.scalar.dl.ledger.service.LedgerServiceNamespaceEndToEndTest

  integration-test-for-generic-contracts:
    name: Integration test for generic contracts
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.1
        env:
          MYSQL_ROOT_PASSWORD: mysql
        ports:
          - 3306:3306

    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK 1.8
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '8'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Run integration tests
        run:  ./gradlew :generic-contracts:integrationTest

      - name: Upload Gradle test reports
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: integration_test_reports_for_generic_contracts
          path: generic-contracts/build/reports/tests/integrationTest

  integration-test-for-hashstore:
    name: Integration test for HashStore
    runs-on: ubuntu-latest

    env:
      LEDGER_PROOF_PRIVATE_KEY_PEM: |
        -----BEGIN EC PRIVATE KEY-----
        MHcCAQEEIF4SjQxTArRcZaROSFjlBP2rR8fAKtL8y+kmGiSlM5hEoAoGCCqGSM49
        AwEHoUQDQgAEY0i/iAFxIBS3etbjoSC1/aUKQV66+wiawL4bZqklu86ObIc7wrif
        HExPmVhKFSklOyZqGoOiVZA0zf0LZeFaPA==
        -----END EC PRIVATE KEY-----

    services:
      mysql:
        image: mysql:8.1
        env:
          MYSQL_ROOT_PASSWORD: mysql
        ports:
          - 3306:3306

    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK 1.8
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '8'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Get the project version
        id: set-version
        run: |
          VERSION=$(./gradlew :common:properties -q | grep "version:" | awk '{print $2}')
          echo "version=${VERSION}" >> $GITHUB_OUTPUT

      - name: Build Docker images
        run: |
          ./gradlew :ledger:docker

      - name: Start Ledger server
        run: |
          docker run -d \
            --name scalardl-ledger \
            --network host \
            -e SCALAR_DB_STORAGE=jdbc \
            -e SCALAR_DB_CONTACT_POINTS="jdbc:mysql://localhost:3306/" \
            -e SCALAR_DB_USERNAME=root \
            -e SCALAR_DB_PASSWORD=mysql \
            -e SCALAR_DL_LEDGER_PROOF_ENABLED=true \
            -e SCALAR_DL_LEDGER_PROOF_PRIVATE_KEY_PEM="$LEDGER_PROOF_PRIVATE_KEY_PEM" \
            ghcr.io/scalar-labs/scalardl-ledger:${{ steps.set-version.outputs.version }}

      - name: Wait for Ledger server to be ready
        run: |
          timeout 60 bash -c 'until docker exec scalardl-ledger grpc_health_probe -addr=:50051; do sleep 1; done'

      - name: Run integration tests
        run:  ./gradlew :hash-store:integrationTest

      - name: Upload Gradle test reports
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: integration_test_reports_for_hash_store
          path: hash-store/build/reports/tests/integrationTest

  integration-test-for-tablestore:
    name: Integration test for TableStore
    runs-on: ubuntu-latest

    env:
      LEDGER_PROOF_PRIVATE_KEY_PEM: |
        -----BEGIN EC PRIVATE KEY-----
        MHcCAQEEIF4SjQxTArRcZaROSFjlBP2rR8fAKtL8y+kmGiSlM5hEoAoGCCqGSM49
        AwEHoUQDQgAEY0i/iAFxIBS3etbjoSC1/aUKQV66+wiawL4bZqklu86ObIc7wrif
        HExPmVhKFSklOyZqGoOiVZA0zf0LZeFaPA==
        -----END EC PRIVATE KEY-----

    services:
      mysql:
        image: mysql:8.1
        env:
          MYSQL_ROOT_PASSWORD: mysql
        ports:
          - 3306:3306

    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK 1.8
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '8'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Get the project version
        id: set-version
        run: |
          VERSION=$(./gradlew :common:properties -q | grep "version:" | awk '{print $2}')
          echo "version=${VERSION}" >> $GITHUB_OUTPUT

      - name: Build Docker images
        run: |
          ./gradlew :ledger:docker

      - name: Start Ledger server
        run: |
          docker run -d \
            --name scalardl-ledger \
            --network host \
            -e SCALAR_DB_STORAGE=jdbc \
            -e SCALAR_DB_CONTACT_POINTS="jdbc:mysql://localhost:3306/" \
            -e SCALAR_DB_USERNAME=root \
            -e SCALAR_DB_PASSWORD=mysql \
            -e SCALAR_DL_LEDGER_PROOF_ENABLED=true \
            -e SCALAR_DL_LEDGER_PROOF_PRIVATE_KEY_PEM="$LEDGER_PROOF_PRIVATE_KEY_PEM" \
            ghcr.io/scalar-labs/scalardl-ledger:${{ steps.set-version.outputs.version }}

      - name: Wait for Ledger server to be ready
        run: |
          timeout 60 bash -c 'until docker exec scalardl-ledger grpc_health_probe -addr=:50051; do sleep 1; done'

      - name: Run integration tests
        run:  ./gradlew :table-store:integrationTest

      - name: Upload Gradle test reports
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: integration_test_reports_for_table_store
          path: table-store/build/reports/tests/integrationTest

  permission-test:
    name: Permission test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK 1.8
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '8'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Prepare
        run: sudo mkdir -m 777 /var/log/scalar

      - name: Build
        run: |
          ./gradlew assemble
          ./gradlew testJar

      # due to a gradle bug we must run the permission test separately
      - name: Run permission tests
        run: |
          cd ledger
          java -cp "build/test-libs/*:build/libs/*:build/classes/java/permissionTest" org.junit.platform.console.ConsoleLauncher execute -c=com.scalar.dl.ledger.service.LedgerServicePermissionTest
