name: Scheduled Vulnerability Check

on:
  schedule:
    # UTC
    - cron: '0 18 * * WED,SAT'

jobs:
  call-vuln-check-for-master:
    uses: ./.github/workflows/vuln-check.yaml
    with:
      target-ref: master
    secrets:
      SLACK_SECURITY_WEBHOOK_URL: ${{ secrets.SLACK_SECURITY_WEBHOOK_URL }}

  call-vuln-check-for-v3_10:
    uses: ./.github/workflows/vuln-check.yaml
    with:
      target-ref: v3.10
      find-latest-release: true
    secrets:
      SLACK_SECURITY_WEBHOOK_URL: ${{ secrets.SLACK_SECURITY_WEBHOOK_URL }}

  call-vuln-check-for-v3_11:
    uses: ./.github/workflows/vuln-check.yaml
    with:
      target-ref: v3.11
      find-latest-release: true
    secrets:
      SLACK_SECURITY_WEBHOOK_URL: ${{ secrets.SLACK_SECURITY_WEBHOOK_URL }}

  call-vuln-check-for-v3_12:
    uses: ./.github/workflows/vuln-check.yaml
    with:
      target-ref: v3.12
      find-latest-release: true
    secrets:
      SLACK_SECURITY_WEBHOOK_URL: ${{ secrets.SLACK_SECURITY_WEBHOOK_URL }}
