name: Scheduled Storage Compatibility Check

on:
  schedule:
    # UTC
    - cron: '0 10 * * SUN'

jobs:
  call-storage-compatibility-check:
    strategy:
      max-parallel: 1
      matrix:
        target-ref: [master, 3]
    uses: ./.github/workflows/storage-compatibility-check.yaml
    with:
      target-ref: ${{ matrix.target-ref }}
    secrets: inherit
