name: Storage Compatibility Check

on:
  workflow_call:
    inputs:
      target-ref:
        description: 'Target ref (branch, tag, release) to check'
        required: true
        type: string
        default: 'master'

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.S3_ACCESS_KEY }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.S3_SECRET_ACCESS_KEY }}
  S3_REGION: us-east-1
  S3_BUCKET_NAME: s3-scalardl-test-bucket
  CLOUD_STORAGE_PROJECT_ID: ${{ secrets.CLOUD_STORAGE_PROJECT_ID }}
  CLOUD_STORAGE_SERVICE_ACCOUNT_KEY: ${{ secrets.CLOUD_STORAGE_SERVICE_ACCOUNT_KEY }}
  CLOUD_STORAGE_BUCKET_NAME: scalardl-test-bucket

jobs:
  integration-test-with-cassandra:
    name: Integration testing with the Consensus Commit transaction manager on Cassandra
    runs-on: ubuntu-latest

    services:
      cassandra:
        image: cassandra:3.11
        env:
          MAX_HEAP_SIZE: 2048m
          HEAP_NEWSIZE: 512m
        ports:
          - 9042:9042

    steps:
      - name: Checkout the target repository
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.target-ref }}

      - name: Set up JDK 1.8
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '8'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build
        run: |
          ./gradlew assemble
          ./gradlew testJar

      # due to a gradle bug we must run the integration test separately
      - name: Run integration tests
        working-directory: ledger
        run: |
          java -cp "build/test-libs/*:build/libs/*:build/classes/java/integrationTest" \
          org.junit.platform.console.ConsoleLauncher execute -c=com.scalar.dl.ledger.service.LedgerServiceEndToEndTest

  integration-test-with-cosmos:
    name: Integration testing with the Consensus Commit transaction manager on Cosmos DB
    runs-on: windows-latest

    steps:
      - name: Checkout the target repository
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.target-ref }}

      - name: Set up JDK 1.8
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '8'

      - name: Start Azure Cosmos DB emulator
        run: |
          Write-Host "Launching Cosmos DB Emulator"
          Import-Module "$env:ProgramFiles\Azure Cosmos DB Emulator\PSModules\Microsoft.Azure.CosmosDB.Emulator"
          # Set startup timeout to 10min (600s), the default is 4min
          Start-CosmosDbEmulator -Consistency Strong -Timeout 600

      - name: Install TLS/SSL certificate
        run: |
          $cert = Get-ChildItem Cert:\LocalMachine\My | where{$_.FriendlyName -eq 'DocumentDbEmulatorCertificate'}
          $params = @{
            Cert = $cert
            Type = "CERT"
            FilePath = "$home/tmp-cert.cer"
            NoClobber = $true
          }
          Export-Certificate @params
          certutil -encode $home/tmp-cert.cer $home/cosmosdbcert.cer
          Remove-Item $home/tmp-cert.cer
          $keystore = "-keystore", "${env:JAVA_HOME}/jre/lib/security/cacerts"
          & ${env:JAVA_HOME}/bin/keytool.exe $keystore -storepass 'changeit' -importcert -noprompt -alias cosmos_emulator -file $home/cosmosdbcert.cer
          & ${env:JAVA_HOME}/bin/keytool.exe $keystore -storepass 'changeit' -list -alias cosmos_emulator

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build
        run: |
          ./gradlew.bat assemble
          ./gradlew.bat testJar

      # due to a gradle bug we must run the integration test separately
      - name: Run integration tests
        working-directory: ledger
        # The heap size (-Xmx6g) and direct memory size (-XX:MaxDirectMemorySize=4g) were chosen
        # to handle high memory demands of the Cosmos DB emulator during integration tests,
        # ensuring stability and avoiding out-of-memory errors.
        run: |
          java -Xmx6g -XX:MaxDirectMemorySize=4g `
          -cp "build/test-libs/*;build/libs/*;build/classes/java/integrationTest" `
          "-Dscalardb.storage=cosmos" `
          "-Dscalardb.contact_points=https://localhost:8081/" `
          "-Dscalardb.password=C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw==" `
          org.junit.platform.console.ConsoleLauncher execute "-c=com.scalar.dl.ledger.service.LedgerServiceEndToEndTest"

  integration-test-with-dynamo:
    name: Integration testing with the Consensus Commit transaction manager on DynamoDB
    runs-on: ubuntu-latest

    services:
      dynamodb:
        image: amazon/dynamodb-local:1.17.0
        ports:
          - 8000:8000

    steps:
      - name: Checkout the target repository
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.target-ref }}

      - name: Set up JDK 1.8
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '8'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build
        run: |
          ./gradlew assemble
          ./gradlew testJar

      # due to a gradle bug we must run the integration test separately
      - name: Run integration tests
        working-directory: ledger
        run: |
          java -cp "build/test-libs/*:build/libs/*:build/classes/java/integrationTest" \
          -Dscalardb.storage=dynamo \
          org.junit.platform.console.ConsoleLauncher execute -c=com.scalar.dl.ledger.service.LedgerServiceEndToEndTest

  integration-test-with-s3:
    name: Integration testing with the Consensus Commit transaction manager on S3
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the target repository
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.target-ref }}

      - name: Set up JDK 1.8
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '8'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build
        run: |
          ./gradlew assemble
          ./gradlew testJar

      # due to a gradle bug we must run the integration test separately
      - name: Run integration tests
        working-directory: ledger
        run: |
          java -cp "build/test-libs/*:build/libs/*:build/classes/java/integrationTest" \
          -Dscalardb.storage=s3 \
          -Dscalardb.contact_points=${{ env.S3_REGION }}/${{ env.S3_BUCKET_NAME }} \
          -Dscalardb.username='${{ env.AWS_ACCESS_KEY_ID }}' \
          -Dscalardb.password='${{ env.AWS_SECRET_ACCESS_KEY }}' \
          org.junit.platform.console.ConsoleLauncher execute -c=com.scalar.dl.ledger.service.LedgerServiceEndToEndTest

  integration-test-with-blob-storage:
    name: Integration testing with the Consensus Commit transaction manager on Blob Storage
    runs-on: ubuntu-latest

    services:
      blob-storage:
        image: mcr.microsoft.com/azure-storage/azurite
        env:
          AZURITE_ACCOUNTS: "test:test"
        ports:
          - 10000:10000

    steps:
      - name: Checkout the target repository
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.target-ref }}

      - name: Set up JDK 1.8
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '8'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build
        run: |
          ./gradlew assemble
          ./gradlew testJar

      - name: Create Blob Storage container
        run: |
          az storage container create \
            --name test-container \
            --connection-string "DefaultEndpointsProtocol=http;AccountName=test;AccountKey=test;BlobEndpoint=http://localhost:10000/test;"

      # due to a gradle bug we must run the integration test separately
      - name: Run integration tests
        working-directory: ledger
        run: |
          java -cp "build/test-libs/*:build/libs/*:build/classes/java/integrationTest" \
          -Dscalardb.storage=blob-storage \
          -Dscalardb.contact_points=http://localhost:10000/test/test-container \
          -Dscalardb.username=test \
          -Dscalardb.password=test \
          org.junit.platform.console.ConsoleLauncher execute -c=com.scalar.dl.ledger.service.LedgerServiceEndToEndTest

  integration-test-with-cloud-storage:
    name: Integration testing with the Consensus Commit transaction manager on Cloud Storage
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the target repository
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.target-ref }}

      - name: Set up JDK 1.8
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '8'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build
        run: |
          ./gradlew assemble
          ./gradlew testJar

      # due to a gradle bug we must run the integration test separately
      - name: Run integration tests
        working-directory: ledger
        run: |
          java -cp "build/test-libs/*:build/libs/*:build/classes/java/integrationTest" \
          -Dscalardb.storage=cloud-storage \
          -Dscalardb.contact_points=${{ env.CLOUD_STORAGE_BUCKET_NAME }} \
          -Dscalardb.username='${{ env.CLOUD_STORAGE_PROJECT_ID }}' \
          -Dscalardb.password='${{ env.CLOUD_STORAGE_SERVICE_ACCOUNT_KEY }}' \
          org.junit.platform.console.ConsoleLauncher execute -c=com.scalar.dl.ledger.service.LedgerServiceEndToEndTest
